a:hover,a:focus{
    color:red;
}
a{
    color:grey;
}
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: red;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.panel-default > .panel-heading {
    color: #333;
    background-color: red;
    border-color: red;
}

#dyxxb a:link {
    color: #00a0e9;
}