<!DOCTYPE html>
<html>

<head>
    <title>
        Administration
    </title>
    <link type="text/css" rel='stylesheet' href='/css/bootstrap.min.css' />
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <link type="text/css" rel='stylesheet' href='/css/bootstrap-table.min.css' />
    <link rel="icon" type="image/png" href="/img/icons/favicon.ico" />

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>

    <script type="text/javascript" src="/js/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-table-en-US.min.js"></script>

    <script type="text/javascript" src="/js/bootstrap-editable.js"></script>
    <script type="text/javascript" src="/js/bootstrap-table-editable.min.js"></script>
    <script type="text/javascript" src="/js/combodate.js"></script>
    <script type="text/javascript" src="/js/moment.js"></script>


    <script type="text/javascript" src="/js/bootstrap-table-toolbar.js"></script>
    <script type="text/javascript" src="/js/echarts.min.js"></script>
    <script type="text/javascript" src="/js/method.js"></script>

    <style>

        .out {
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 50px;
        }
        
        .test {
            width: 20%;
            margin-left: auto;
            margin-right: auto;
        }

        #rows {
            color: red;
            font-size: 20px;
            font-weight: 900;
        }
    </style>

</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse  navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/statistic.html">Bosch Home</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/admin.html">Project</a></li>

                    <li><a href="/swhphh.html">Standard Working Hours & Salary Pay Hours</a></li>

                    <li class="active"><a href="/email.html">Email Members</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>

                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout">Log out</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <p style="height: 150px"></p>

    

    <div id="toolbar" class="btn-group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal3">
            <i class="glyphicon glyphicon-plus"></i>
        </button>
        <button type="button" class="btn btn-default" onclick="getRows()">
            <i class="glyphicon glyphicon-minus"></i>
        </button>
    </div>

    <!--新增收件人信息-->
    <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Add Receiver Information</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Receiver Name</label>
                        <input id="receiver_name" type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Receiver Email</label>
                        <input id="receiver_email" type="text" class="form-control">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="submit" onclick="addReceiverInformation()">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 删除收件人信息 -->
    <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Delete Receiver Information</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure to delete these receivers' information : <span id="rows"></span>? If you delete, they will not receive emails.Be caution!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="del" onclick="deleteReceiversInformation()">delete</button>
                </div>
            </div>
        </div>
    </div>

    <div class="out">
        <table id="table" data-editable-emptytext="--"></table>
    </div>

    <div class="panel panel-success out">
        <div class="panel-heading">
            <h3 class="panel-title" style="font-size: 2rem">function instruction</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li style="font-size: 18px">This web page is used to remind members to book their effort of every month.</li>
                <li style="font-size: 18px">The receiver email must be <span style="color: red; font-size: 25px">Bosch email</span>.</li>
                <li style="font-size: 18px">Those added members will receive emails <span style="color: #1ab11c; font-size: 25px">sent by 3287124026@qq.com automatically.</span></li>
                <li style="font-size: 18px">Those deleted members will not receive emails.</li>
            </ul>
        </div>
    </div>

    



</body>
<script>
    var $table = $('#table');
    var count = 0;

    function getRows() {
        const rows = $table.bootstrapTable("getSelections");
        if (rows.length == 0) {
            window.alert("No row is selected!");
        }
        else {
            var info = "";
            for (let i = 0; i < rows.length; i++) {
                if (i != rows.length - 1) {
                    info += rows[i].receiver_name + " , ";
                } else {
                    info += rows[i].receiver_name;
                }
            }
            $("#rows").html(info);
            $("#deletemodal").modal("show");
        }

        
    }

    function deleteReceiversInformation() {
        const rows = $table.bootstrapTable("getSelections");
        const receiverinfos = rows.map((row) => {
            return row["receiver_name"];
        });

        $.ajax({
            type: "POST",
            contentType: "application/json", //内容类型
            dataType: "json",
            url: "/deletereceiverinfos",
            data: JSON.stringify(receiverinfos),
            success: function (json) {
                $('#deletemodal').modal('hide');
                if (json.result == 1) {
                    $('#table').bootstrapTable('refresh');
                } else {
                    window.alert("Delete failure, please try again later.");
                }
            }
        });
    }


    $(function () {
        $("#modal3").on("hide.bs.modal", () => {
            resetModal();
        });

        var otable = new tableinit();
        otable.init();
    });

    var tableinit = function () {
        var otableinit = new Object();
        otableinit.init = function () {
            $table.bootstrapTable({
                toolbar: "#toolbar",
                showRefresh: true,
                showColumns: true,
                search: true,
                searchOnEnterKey: true,
                url: "/getinform",
                method: 'post',
                cache: false,
                striped: true,                
                showFullScreen: true,
                
                columns: [
                    {
                        checkbox: true
                    },
                    {
                        title: "Receiver Name",
                        field: "receiver_name",
                        editable: {
                            type: 'text',
                            title: 'Receiver Name',
                            validate: (value) => {
                                if (value == "") {
                                    return "Empty receiver name";
                                }
                            }
                        }
                    },

                    {
                        title: "Receiver Email",
                        field: "receiver_email",
                        editable: {
                            type: 'text',
                            title: 'Receiver Email',
                            validate: (value) => {
                                if (value.indexOf("@cn.bosch.com") == -1) {
                                    return "Illegal receiver email";
                                }
                            }
                        }
                    }
                ],
                onEditableSave: (field, row, oldValue, $el) => {
                    const jsondata = {};
                    jsondata.oldValue = oldValue;
                    if (field == "receiver_name") {
                        jsondata.receiver_name = row[field];
                        $.ajax({
                            type: "post",
                            url: "/updateinformreceivername",
                            contentType: "application/json",
                            data: JSON.stringify(jsondata),
                            dataType: 'JSON',
                            success: function (res) {
                                if (res.result == 1) {
                                } else {
                                    window.alert("Duplicate receiver name.");
                                    $('#table').bootstrapTable('refresh');
                                }
                            }
                        });
                    }
                    else {
                        jsondata.receiver_email = row[field];
                        $.ajax({
                            type: "post",
                            url: "/updateinformreceiveremail",
                            contentType: "application/json",
                            data: JSON.stringify(jsondata),
                            dataType: 'JSON',
                            success: function (res) {
                                if (res.result == 1) {
                                } else {
                                    window.alert("Duplicate receiver email.");
                                    $('#table').bootstrapTable('refresh');
                                }
                            }
                        });
                    }
                }
            });
        };
        return otableinit;
    };

    function resetModal() {
        $("#receiver_name").val("");
        $("#receiver_email").val("");
    }
    
    function validate() {
        if ($("#receiver_name").val() == "") {
            window.alert("Please input receiver name!");
            return false;
        }
        if ($("#receiver_email").val().indexOf("@cn.bosch.com") == -1) {
            window.alert("Please input Bosch email!");
            return false;
        }
        return true;
    }

    function addReceiverInformation() {
        const validateRes = validate();
        if (validateRes == true) {
            $.post("/addreceiverinformation", {
                receiver_name: $("#receiver_name").val(),
                receiver_email: $("#receiver_email").val()
            }, (json) => {
                
                if (json.result == 1) {
                    $('#modal3').modal('hide');
                    $('#table').bootstrapTable("refresh");
                } else {
                    window.alert("Duplicate receiver name or email!");
                }
            });
        }
    }
</script>

</html>